<div class="container-fluid">
  <div class="row landing_pg_row">
    <div class="col-xs-12 col-md-6" 
    id="landing_pg_left">

      <div class="row landing_pg_top">
        <div class="col-xs-12" id="logo">
          <h2 id="restaurant_logo"> 
            Per See </h2>
        </div>
      </div>
   
      <div class="row landing_pg_middle">
        <div class="col-xs-12">
          <div class="landing_pg_header">
            <p>Foods</p>
          </div>
          <div class="landing_pg_subtitle">
            <p>See the menu and add foods.</p>
          </div>
        </div>
      </div>

      <div class="row landing_pg_bottom">
        <div class="col-xs-12">
          <form action="/foods">
              <input type="submit" value="Get Started" id="submit">
          </form>
        </div>
      </div> 

    </div>

    <div class="col-xs-12 col-md-6" id="landing_pg_right">

      <div class="row landing_pg_top">
        <div class="col-xs-12">
        </div>
      </div>

      <div class="row landing_pg_middle">
        <div class="col-xs-12">
          <div class="landing_pg_header">
            <p>Parties</p>
          </div>
          <div class="landing_pg_subtitle">
            <p>Manage your parties and 
              their orders.</p>
          </div>
        </div>
      </div>

      <div class="row landing_pg_bottom">
        <div class="col-xs-12">
          <form action="/parties">
              <input type="submit" value="Get Started" id="submit">
          </form>
        </div>
      </div> 

    </div>
  </div>
</div>
